html, body{
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(../images/bg.png);
    display: flex;
    flex-direction: column;
}
header{
    margin: 0;
    position: static;
}

nav{
	width: 100%;
	height: 80px;
	background: white;
}
h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
	line-height: 80px;
	width: 160px;
	float: left;
	margin: 0 0 0 160px;
	color: white;
	font-size: 34px;
	text-align: center;
    background: #4aaaa5
    
}


.bio{
    padding: 20px 0 0 0;
}

ul{
    margin: 0 140px 0 0;
    
}

ul li{
	list-style: none;
	font-size: 20px;
	display: inline-block;
	line-height: 80px;
	float: right;
	padding-right: 25px;
}

ul li a{
    font-family: 'Georgia', Times, Times New Roman, serif;
	text-decoration: none;
	color: #cccccc;	
}

li a:hover{
    color: #777777;
}
.active{
    color: #777777;
}

.main-section{
    width: 960px;
    margin: 30px auto;
    background: white;
    margin-bottom: 100px;
    flex: 1 0 auto;  
}

h2{
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 20px 20px 20px 40px;
    margin-bottom: 0;
    color: #4aaaa5;
    font-size: 24px;
}
.border-area{
    border-top: 1px solid #cccccc ;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 15px;
}

.container{
    margin-top: 15px;
}
.profile-pic{
    width: 20%;
    height: auto;
    float: left;
    margin: 20px 0;
    padding: 0 20px 0 0;
}


/* Contact area */

label{
    font-size: 18px;
    color: #777777;  
}

input[type=text]{
    width: 100%;
    height: 25px;
    margin: 15px 0px;
}

input[type=submit] {
    font-size: 14px;
    background-color: #4aaaa5;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    color: white;
  }

#submit:hover{
      background: #777777;
  }
textarea{
    border: 1px solid #cccccc;
    margin-top: 10px;
}

#message{
    width: 100%;
    color: #cccccc;
}

/* Portfolio area */

.images{
    margin-top: 20px;
    position: relative;
    display: inline-block;
  
}

.img-size{
    width: 300px;
    height: auto;
    padding: 0px 15px 15px 0px;
    
}

.text-block{
    position: absolute;
    background: #4aaaa5;
    color: white;
    width: 300px;
    text-align: center;
    bottom: 30px;
    padding: 10px 0;
    
}

/* Footer area */

footer {
   font-size: 12px;
   padding: 15px 0px 10px;
   /* position: static;
   left:0px;
   bottom:0px;
   height:35px; */
   width:100%;
   background:#666666;
   text-align: center;
   border-top: 4px solid #4aaaa5;
   flex-shrink: 0;
   
}

@media screen and (max-width: 980px){
    h1{
        margin: 0 0 0 30px;  
    }
    h2{
        font-size: 24px;
    }

    ul{
        margin: 0 40px 0 0;  
    }

    .main-section {
        width: 600px;
        margin: 30px;
        background: white;
        margin-bottom: 100px;   
    }
    .img-size{
        width: 250px;
    }
    
    .text-block{
        width: 94.2%;
    }
    .img-container{
        margin-left: 30px;
    }
}

@media screen and (min-width: 641px) and (max-width: 768px){
    header{
        border-bottom: 1px solid #cccccc;
    }
    h1{
        margin: 0 0 0 20px;
    }

    ul{
        margin: 0 0px 0 0;    
    }
    
    .main-section {
        width: 730px;
        margin: 30px auto;
        background: white;
        margin-bottom: 100px;
    }
    h2{
        font-size: 24px;
    }
    .images{
        margin: 20px 0px 0px;
    }
    .img-size{
        width: 300px;
    }
    .text-block{
        width: 95.5%;
    }
    .img-container{
        margin-left: 30px;
    }
    
   
    
}

@media screen and (min-width: 450px) and (max-width: 640px){
    header{
        background: white;
        border-bottom: 1px solid #cccccc;
    }
    
    h1{
        width: 640px;
        margin-left: 0;
        
    }
   
    nav ul {
		margin: 0 156px;
        padding: 0;
        
	}

	nav li {
        display: inline;
        background: green;
         
	}
    nav a {
		display: inline-block;
		padding: 0;
		text-decoration: none;
	}
    ul li{
        background: white;
        text-align: center;  
    } 

     .main-section {
         width: 600px;
         margin: 30px auto;
         background: white;
         margin-bottom: 100px;
         flex: 1 0 auto;  
     }

     .profile-pic{
        width: 100%;
     }

     h2{
         font-size: 26px;
     }
    
     .img-size{
         width: 100%;
     }

     .text-block{
         width: 100%;
     }
 }
 




